* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

:root {
  --white: hsl(0, 0%, 100%);
  --ligth-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 375px;
  height: 580px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.picture {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-top: 10px;
}
.info {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
  color: black;
}
.description {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: gray;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 70px;
}
.attribution {
  color: hsl(228, 45%, 44%);
}
